<!DOCTYPE html>
<html>
<head>
    <title>Reminder App</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>


<h1><%= title %></h1>

<form accept-charset="utf-8">

    <div>
        <label for="name">Event Name:</label>
        <input type="text" id="eventName" placeholder="Status Meeting"/>
    </div>

    <div>
        <label for="eventend">Event at:</label>
        <input type="text" id="end" placeholder="2014-12-27 01:01:01"/>
    </div>
    <div>
        <label for="mail">E-mail:</label>
        <input type="email" id="email" placeholder="abcd@gmail.com"/>
    </div>
    <div>
        <label for="msg">RemindBefore:</label>
        <input type="text" id="remindMeBeforeInMins" placeholder="15" /> in Mins(ex: 15)
    </div>
    <div class="button">
        <button type="button" id="submitButton">Create Event</button>
    </div>

</form>

<p></p>

<table style="width:80%" align="center">
    <thead>
    <tr>
        <th>Event Name</th>
        <th>Event at</th>
        <th>Email</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <% eventList.forEach( function (data){ %>
    <tr>
        <td><span> <%= data.eventName %> </span></td>
        <td><span> <%= data.end %>) </span></td>
        <td><span> <%= data.email %> </span></td>
        <td><span>
      <a href="/destroy/<%= data._id %>" title="Delete this item">Delete</a>
      </span></td>
    </tr>
    <% }); %>

    </tbody>
</table>

<script src="javascripts/jquery-1.11.2.js"></script>


<script type="text/javascript">

    $(document).ready(function () {

        var createEvent = function () {
            var hostUrl = window.location.protocol + "//" + window.location.host;
            var eventName = $('#eventName').val();
            var end = $('#end').val();
            var email = $('#email').val();
            var remindMeForMail = $('#remindMeBeforeInMins').val();
            if (eventName) {

                $.ajax({
                    mimeType: 'application/json; charset=utf-8', // ! Need set mimeType only when run from local file
                    url: hostUrl + '/reminders',
                    data: {
                        eventName: eventName,
                        end: end,
                        email: email,
                        remindMeForMail: remindMeForMail
                    },
                    type: 'POST',
                    success: function (data) {
                        console.log(" Data ", data);
                        window.location = hostUrl;
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        alert(errorThrown);
                        console.log(errorThrown);
                    },
                    dataType: "json"

                });

            } else {
                console.log("Invalid Event");
            }
        }

        $('#submitButton').on('click', createEvent);

    });

</script>
</body>
</html>